body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.button {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  margin: 12px;
  background-color: gray;
  color: white;
}

.button:active {
  background-color: rgba(107, 107, 107, 0.534);
  color: rgba(255, 255, 255, 0.73);
}

.delete {
  background-color: red;
  border-color: rgb(160, 0, 0);
}

.delete:active {
  background-color: rgba(255, 0, 0, 0.653);
  border-color: rgba(160, 0, 0, 0.52);
}

.calculator {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: rgb(62, 62, 62);
}

.result {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(173, 182, 74);
  border-radius: 8px;
  border: 3px solid rgb(137, 144, 58);
  width: 92%;
  height: 14%;
  margin: 12px;
  margin-top: 20px;
  padding: 4px;
}

